{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <div class="w-9/12 m-auto parent_footer">
        <h1 class="text-theme-blue font-bold text-center text-5xl p-3">La médiathèque de la Chapelle-Curreaux</h1>

        <img src="{{ asset('images/image_accueil.jpeg') }}" alt="image accueil" style="max-width: 40vw "
             class="m-auto rounded-xl">

        <p class="text-center m-auto  md:w-9/12"> Bienvenue sur l'application de la médiathèque de la Chapelle-Curreaux.
            Suite aux mesures gouvernementale par rapport au Covid-19, nous avons décidé de mettre en place un click and
            collect à nos adhérents
            pour leur permettre de continuer de lire des livres malgré les conditions actuelles.
            J'invite ceux qui seraient intéressés de s'inscrire pour devenir adhérent et pouvoir commencer à
            emprunter des livres ou directement à accéder à l'application
            pour les personnes déjà inscrites.
            L'équipe de la médiathèque de la Chapelle-Curreux est ravie de pouvoir continuer à vous faire profiter de
            nos différents livres et nous vous souhaitons une bonne journée.
        </p>
        <div class="flex flex-row justify-center pb-3 ">
            <div class="p-2">
                <a class="style-none rounded-xl bg-theme-purple text-white mb-2 mx-auto hover:text-white hover:bg-purple-900 p-2"
                   href="{{ path('user_home') }}">Connexion</a>
            </div>
            <div class="p-2">
                <a class="style-none rounded-xl bg-theme-purple text-white mb-2 mx-auto hover:text-white hover:bg-purple-900 p-2"
                   href="{{ path('inscription') }}">inscription</a>
            </div>
        </div>
    </div>

{% endblock %}
