@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

body{
    font-family: 'Nunito', sans-serif !important;
    background-color: #F1F3F4 !important;
}

.all-page{
    width: 90vw;
    height: 90vh;
}

.bg-theme-purple{
    background-color: #512B58;
    color: #F1F3F4;
}


.bg-theme-blue{
    background-color: #2A7886;
    color: #F1F3F4;
}

.bg-theme-blue-clair{
    background-color: #79BAC1;
    color: #F1F3F4;
}

.bg-theme-grey{
    background-color: #F1F3F4;
    color: #2A7886;
}

.text-theme-purple{
    color: #512B58;
}

.text-theme-blue{
    color: #2A7886;
}

.text-theme-blue-clair{
    color: #79BAC1;
}

.text-theme-grey{
    color: #F1F3F4
}

.size-img{
    width: 250px;
    height: 210px;
}

/* form styles */

.filter{
    display: block;
    position: sticky;
    top: 25px;
}

.style-none{
    text-decoration: none;
}

.size-form{
        width : 45vw;
}

@layer components {
    .bttn{
        @apply rounded-xl bg-theme-purple text-white m-4 mx-auto hover:text-white hover:bg-purple-900 p-2;
    }
}



