@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

body{
    font-family: 'Nunito', sans-serif !important;
    background-color: #F1F3F4 !important;
}
a{
    text-decoration: none !important;
}
html, body {
    height: 100%;
}

.all-page{
    width: 90vw;
    height: 90vh;
}

.bg-theme-purple{
    background-color: #512B58;
    color: #F1F3F4;
}


.bg-theme-blue{
    background-color: #2A7886;
    color: #F1F3F4;
}

.bg-theme-blue-clair{
    background-color: #79BAC1;
    color: #F1F3F4;
}

.bg-theme-grey{
    background-color: #F1F3F4;
    color: #2A7886;
}

.text-theme-purple{
    color: #512B58;
}

.text-theme-blue{
    color: #2A7886;
}

.text-theme-blue-clair{
    color: #79BAC1;
}

.text-theme-grey{
    color: #F1F3F4
}

.size-img{
    width: 250px;

}

.size-description{
    width: 230px;
}

/* form styles */

.filter{
    display: block;
    position: sticky;
    top: 60px;
}

.style-none{
    text-decoration: none;
}

.size-form{
        width : 45vw;
}
.card-person{
    max-width: 30vw;
    min-height: 15vh;
}

.image-user{
    height: 35px;

}

.height-full{
    height: 80vh;
}

/*  Partie dropdown */
.dropwrap {
    position: relative;
    display: inline-block;
}

.dropwrap-content {
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 10px 14px;
    z-index: 1;
}


@layer components {
    .bttn{
        @apply rounded-xl bg-theme-purple text-white m-4 mx-auto hover:text-white hover:bg-purple-900 p-1 ;
    }
    .bttn-blue{
        @apply rounded-xl bg-theme-blue hover:text-white hover:bg-blue-200 p-1 ;
    }

    .bttn-red{
        @apply rounded-xl bg-red-500 m-4 mx-auto hover:text-white hover:bg-red-200 p-1 ;
    }

}


@media (max-width: 768px) {
    .card-person{
        max-width: 50vw;
        min-height: 20vh;
    }
}


