{% extends 'base.html.twig' %}

{% block title %}Nouveau Livre{% endblock %}

{% block body %}
    <div class="container ">
        <h1 class="mx-auto text-center text-4xl p-4 text-theme-blue font-semibold">Formulaire d'ajout de livre</h1>
        <div class="md:w-2/4 mx-auto mb-2 ">
            {{ include('layout/_form.html.twig') }}

            <a href="{{ path('livre_index') }}" class="bttn-blue">Retour</a>
        </div>
    </div>
{% endblock %}
