<div
        class="block m-4 text-sm text-left text-indigo-600 bg-indigo-500 bg-opacity-10 border border-indigo-400 h-12 flex items-center p-4 rounded-md"
        role="alert"
>
    {{message}}
</div>