<div class=" py-1">
    <div class="flex flex-row">
        <div class="mx-1">
            <button id="button-reservations"> Reservations</button>
        </div>
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"/>
        </svg>

    </div>
    <div class="bg-gray-200 dropwrap-content hidden " id="drowrap-reservations">
        <div><a class="dropdown-item" href="{{ path('admin_list_emprunt') }}">Emprunts</a></div>
        <div><a class="dropdown-item" href="{{ path('admin_list_attente_reservations') }}">Valider retrais</a>
        </div>
        <div><a class="dropdown-item" href="{{ path('admin_list_reservations') }}">Toutes les reservations</a></div>
    </div>
</div>