<div class="dropwrap py-1">
    <div class="flex flex-row">
    <div class="mx-1"><button id="button-gestions"> Gestions</button></div>
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"/>
        </svg>

    </div>
    <div class="dropwrap-content hidden bg-gray-200" id="drowrap-gestions">
        <div><a class="dropdown-item" href="{{ path('auteur_index') }}">Auteurs</a></div>
        <div><a class="dropdown-item" href="{{ path('genre_index') }}">Catégories</a></div>
        <div><a class="dropdown-item" href="{{ path('livre_index') }}">Livres</a></div>
    </div>
</div>