<footer class="bg-theme-purple flex flex-col justify-center items-center p-5">

    <div class="flex flex-row">
        <a href="#">
            <img class="px-2" src="{{ asset('images/facebook.svg') }}" alt="facebook">
        </a>
        <a href="#">
            <img class="px-2" src="{{ asset('images/linkedin.svg') }}" alt="linkedin">
        </a>
        <a href="#">
            <img class="px-2" src="{{ asset('images/twitter.svg') }}" alt="twitter">
        </a>
    </div>
    <div class="pt-3 text-center">
        © 2021 Copyright - Site réalisé par <a href="mailto:guitou.pluchon@gmail.com">Guillaume Pluchon</a>
    </div>


</footer>