{% extends 'base.html.twig' %}

{% block title %}livres{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="mx-auto text-center text-4xl">Liste des livres de la bibliothèque</h1>
        <div class="md:flex flex-row">
            <div>
                {% include 'livre/_filter.html.twig' with {form: form} only %}
            </div>
        <div class="md:flex md:flex-row flex-wrap justify-start">
            {% for livre in livres %}
                {% include'livre/_card.html.twig' with {livre: livre} only  %}
            {% endfor %}

        </div>

    </div>
        <div class="flex justify-center">
            {{ knp_pagination_render(livres) }}
        </div>
    </div>
{% endblock %}
